include head
body.recepies-home
  h2.site-title Ritu's Khana-Khazana
  section.intro.
    Hi Friends,<br><br>
      My Name is <b>Ritu Sharma</b>. I am a house-wife. I have completed my L.L.B. I want to make my identity to the world as a good chef. I learnt the cooking from my mother and want to share my knowledge of cooking with all of you. 
  section.recepies-list
    li
      div.recepie-list
        img.recepie-image(src="Dhaniye-Ke-Laddoo.jpg")
        div.recepie-description
          h3 Shakkar Ki Lapsi
    li
      div.recepie-list
        img.recepie-image(src="./images/dhaniye-ke-laddoo.jpg")
        div.recepie-description
          h3 Dhaniye Ke Laddoo
    li
      div.recepie-list
        img.recepie-image(src="./images/dum-aloo.jpg")
        div.recepie-description
          h3 Dum Alloo
  
  section.disclaimer
    hr
    p All rights reserved to #{" "}
      a(href="http://www.dev-kripa.in" target = _blank) Dev-Kripa.in
    
